.screen-quizz-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
}

.screen-quizz-questions .banner {
    margin: 70px 0 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.screen-quizz-questions .banner img {
    width: 100%;
}

.screen-quizz-questions .black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
}

.screen-quizz-questions h1 {
    font-size: 39px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    position: absolute;
}

.screen-quizz-questions .question {
    width: 760px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
    padding: 30px;
}

.screen-quizz-questions div.title {
    background-color: #EC362D;
    width: 100%;
    height: 100px;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-quizz-questions .question .title.black {
    color: #000000;
}

.screen-quizz-questions .question .title.white {
    color: #ffffff;
}

.screen-quizz-questions .question .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.screen-quizz-questions .question .options .option {
    width: 330px;
    margin-top: 20px;
}

.screen-quizz-questions .question .option-img {
    width: 100%;
    height: 175px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.screen-quizz-questions .question .option-img img {
    width: 100%;
}

.screen-quizz-questions .question .options .option span {
    font-size: 20px;
    font-weight: 700;
}

.screen-quizz-questions .question .options .option.wrong {
    color: #FF4B4B;
}

.screen-quizz-questions .question .options .option.right {
    color: #009C22;
}

.screen-quizz-questions .question .options .option.blur {
    opacity: 0.3;
}

.screen-quizz-questions button {
    width: 220px;
    height: 50px;
    border: 1px solid #ec362d;
    border-radius: 15px;
    font-size: 21px;
    color: #FFFFFF;
    background-color: #ec362d;
    padding: 0 35px;
}

span.back {
    margin-bottom: 24px;
}

.screen-quizz-questions .result-box {
    padding-top: 18px;
    display: flex;
}

.screen-quizz-questions .result img {
    width: 330px;
    margin-right: 21px;
}

.screen-quizz-questions .result p {
    font-weight: 700;
    font-size: 19px;
    color: #484848;
}

@media (max-width: 1100px) {
    .screen-quizz-questions .question {
        width: 100%;
    }

    .screen-quizz-questions .question .options .option {
        width: 45%;
    }

    .screen-quizz-questions .result .title {
        text-align: center;
    }

    .screen-quizz-questions .result-box {
        width: 100%;
        flex-direction: column;
    }

    .screen-quizz-questions .result img {
        width: 100%;
        margin-bottom: 10px;
    }
}