body {
    background-color: #E5E5E5;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.screen-create-quizz {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    width: 100%;
}

.screen-create-quizz section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.screen-create-quizz h1{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 20px;
}


.screen-create-quizz h2 {
    width: 90%;
    padding-top: 27px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.screen-create-quizz span.error {
    display: block;
    width: 95%;
    font-size: 14px;
    color: red;
    margin-top: 10px;
}


.screen-create-quizz div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}


.screen-create-quizz .subscreen-create-basic div.content{
    background-color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 24px;
}

.screen-create-quizz .subscreen-create-basic div.content{
    margin-top: 21px;
}

.screen-create-quizz input,textarea{ 
    width: 95%;
    height: 46px;
    margin-top: 9px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 14px;
    font-size: 19px;
}

.screen-create-quizz input.invalid{
    background-color: #FFE9E9;
}


.screen-create-quizz .input-container {
    width: 95%;
}

.screen-create-quizz .input-container input{
    width: 100%;
}

.screen-create-quizz div.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 23px;
}

.screen-create-quizz div.input-group input,textarea{
    width: 100%;
}

.screen-create-quizz textarea#description{
    height: 341px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.screen-create-quizz button.continue {
    height: 50px;
    border: 1px solid #ec362d;
    border-radius: 15px;
    font-size: 21px;
    color: #FFFFFF;
    background-color: #ec362d;
    padding: 0 35px;
}

.screen-create-quizz button.continue:disabled {
    background-color: transparent;
    border: 1px dashed #ec362d;
    color: #ec362d;
}

.screen-create-quizz ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.screen-create-quizz li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 19px;

}

.screen-create-quizz .holder {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    box-sizing: border-box;
    max-width: 1100px;

}

.screen-create-quizz .body {
    width: 100%;
}

.screen-create-quizz .holder span{
    font-size: 20px;
}

.screen-create-quizz .holder img{
    width: 26px;
    height: 23px;
}

.screen-create-quizz li.collapsed .holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.screen-create-quizz li.collapsed .body {
    display: none;
}

.screen-create-quizz li.collapsed {
    margin-bottom: 22px;
    padding-bottom: 0;

}

.screen-create-quizz li {
    padding-bottom: 27px;
    margin-bottom: 24px;
}

.screen-create-quizz li:last-child {
    margin-bottom: 0;
}

.screen-create-quizz .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.screen-create-quizz .subscreen-create-success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-create-quizz .subscreen-create-success .container-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 500px;
}

.screen-create-quizz .subscreen-create-success .container-img img {
    width: 100%;
    border-radius: 5px;
}

.screen-create-quizz .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.screen-create-quizz .subscreen-create-success .container-img span{
    position: absolute;
    font-size: 23px;
    color: #FFFFFF;
    bottom: 17px;
    left: 25px;
}

.screen-create-quizz .subscreen-create-success button {
    margin-top: 24px;
    width: 220px;
}

span.back {
    margin-top: 24px;
    font-size: 21px;
    color: #818181;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
font-style: italic;
}

@media (max-width: 1100px) {
    .screen-create-quizz h1 {
        font-size: 20px;
    }

    .screen-create-quizz button.continue{
        font-size: 18px;
    }

    .screen-create-quizz .subscreen-create-success .container-img span{
        font-size: 19px;
    }

    span.back {
        font-size: 18px;
    }
}

