body {
    background-color: #E5E5E5;
}

.hidden {
    display: none !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

section.tela3 {
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    width: 100%;
}

section.tela3 section {
    padding-bottom: 20px;
}

section.tela3 h1,h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

section.tela3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding-top: 20px;
}

section.tela3 h2 {
    width: 90%;
    padding-top: 27px;
}

section.tela3 div.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


section.tela3 .tela3-1 div.content{
    background-color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 24px;
}

section.tela3 section.tela3-1 div.content{
    margin-top: 21px;
}

section.tela3 div.content input,textarea{ 
    width: 90%;
    height: 46px;
    margin-top: 9px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 14px;
    font-size: 19px;
}

section.tela3 div.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 23px;
}

section.tela3 div.input-group input,textarea{
    width: 100%;
}

section.tela3 textarea#description{
    height: 341px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

section.tela3 button.continue {
    height: 50px;
    border: 1px solid #ec362d;
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #ec362d;
    padding: 0 35px;
}

section.tela3 button.continue:disabled {
    background-color: transparent;
    border: 1px dashed #ec362d;
    color: #ec362d;
}

section.tela3 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

section.tela3 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #FFFFFF;
}


section.tela3 .holder {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 74px;
    box-sizing: border-box;
}

section.tela3 .body {
    width: 90vw;
}

section.tela3 .holder span{
    font-size: 20px;
    font-weight: 700;
}

section.tela3 .holder img{
    width: 26px;
    height: 23px;
}

section.tela3 li.collapsed .holder {
    display: flex;
}

section.tela3 li.collapsed .body {
    display: none;
}

section.tela3 li.collapsed {
    margin-bottom: 22px;
    padding-bottom: 0;

}

section.tela3 li {
    padding-bottom: 27px;
    margin-bottom: 24px;
}

section.tela3 li:last-child {
    margin-bottom: 0;
}

section.tela3 .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

section.tela3 section.tela3-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.tela3 section.tela3-4 .container-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.tela3 section.tela3-4 .container-img img {
    width: 95%;
}

section.tela3 section.tela3-4 .container-img span{
    position: absolute;
    font-size: 19px;
    color: #FFFFFF;
    bottom: 17px;
    left: 25px;
}

section.tela3 section.tela3-4 button {
    margin-top: 24px;
    width: 220px;
}

span.back {
    margin-top: 24px;
    font-size: 18px;
    color: #818181;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
font-style: italic;
}

